.viewport-div{
  width: 100%;
  height: 100vh;
  border: 2px solid black;
}
.top-bar{
  display: flex;
  border: 2px solid black;
  height: 8%;
}
#profile-image{
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  margin-top: 0.3rem;
  background-image: url(https://png.pngtree.com/png-clipart/20190619/original/pngtree-vector-male-student-icon-png-image_3998154.jpg);
  background-size: contain;
}
#profile-text1{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
}
#profile-text2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0;
  text-wrap: wrap;
}


.personal-details-div{
  border: 2px solid black;
  margin: 0.5rem;
  height: fit-content;
}
.personal-details-header{
  display: flex;
}
#profile-icon{
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.ukyBvqWlVM8RE5pSjQNchwHaHa?r=0&pid=Api&h=220&P=0);
  height:2rem;
  width: 2rem;
  background-size: contain;
}
.Per-details-text{
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lines{
  border: 2px solid black;
  height: fit-content;
  display: flex;
}
.text-box-label{
  margin-top: 0;
  margin-bottom: 0;
}
.input-fields{
  margin-top:0.5rem;
}




@media(max-width: 1024px){
  #profile-image{
    height: 1.3rem;
    width: 1.5rem;
    margin-top: 1rem;
  }
  #profile-text1{
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
  #profile-text2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    text-wrap: wrap;
    font-size: 0.8rem;
  }
}